@import url("http://fonts.googleapis.com/css?family=Space+Mono:400,700");

h2, h3 {
    font-family: 'Space Mono', 'Arial', sans-serif !important;
}

.button-row {
   /* margin: 0 0 1rem 0; */
   margin: 0 auto;
   display: inline-block;
}

/* .button-row button {
    margin-right: 1rem;
} */

.stardb-app .row {
    margin-bottom: 1rem;
}