.item-details {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  padding: 0.9rem;
}

.item-details .item-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.item-details .list-group-item {
  padding: .25rem;
}

.item-details .list-group-item .term{
  margin-right: .5rem;
}
.centered {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* margin-top: 10%; */
}